/* Home.css */
.home {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px; /* Width of the visible sidebar */
    transition: width 0.3s; /* Apply transition effect when sidebar visibility changes */
    background-color: #dcdfe1; /* Dark shade for contrast */
  }
  
  .visible {
    visibility: visible;
  }
  
  .hidden {
    width: 0;
    /* visibility: hidden; */
  }
  
  .toggle-button-container {
    
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1; /* Ensure the button appears above the sidebar */
    cursor: pointer;
  }
  
  .hamburger-icon {
    font-size: 24px;
    color: rgb(201, 52, 52);
  }
  
  .mainPage {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s; /* Apply transition effect when sidebar visibility changes */
    margin-left: 3em; 
  }
  
