/* Sidebar.css */

.SidebarWrapper {
  width: 200px; 
  margin-top: 45px;
  
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

.sidebar-item-text .visible{
  visibility: visible;;
}

.sidebar-item-text .hidden{
  visibility: hidden;
}
.sidebar-item {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #34495e; 
  display: flex;
  align-items: center; 
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #131313;
  color: white;
}



